@import "materialize/mixins";
@import "materialize/color";

@import "materialize/variables";
@import "materialize/typography";
// @import "materialize/global";
 
@import "bubble";


body {
	width: 100%;
	margin: 0 auto;
	font: 'BYekan', Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
	// direction: rtl;
}

#contents {
	width: 100%;
}

#main_header {
	width: 100%;
	padding: 10px;
	background: #f2f2f2;
	position: relative;
	z-index: 1;
}

canvas {
	z-index: -1;
	// position: fixed;
}

#popups {
	position: relative;
	z-index: 0;
}
#newSide {
	position: absolute;
	width: 20%;
    height: 600px;
    background: #333;// #2a3542;
	z-index: 1;
	padding-left: 15px;
	a {
		text-decoration: none;
	}
	ul.uk-nav-sub > li {
		padding-left: 20px;
	}
}

[uk-modal] {
	z-index: 3;
}

.no-display {
	display: none;
}


#contextmenu {
	$ctx-bg: #f7f7f7;
	position: absolute;
	background: $ctx-bg;
	box-shadow: inset 0px 0px 0px 1px #ABABAB;
	-webkit-box-shadow: inset 0px 0px 0px 1px #ABABAB;
	-moz-box-shadow: inset 0px 0px 0px 1px #ABABAB;
	-o-box-shadow: inset 0px 0px 0px 1px #ABABAB;
	
	li {
		border: 1px solid $ctx-bg;
		padding: 2px 5px;
		margin: 0;
		
		&:hover {
			background: #E8EEF6;
			border: 1px solid #AECFF7;
			cursor: pointer;
		}
	}
	a {
		text-decoration: none;
		color: black;
	}
	ul {
		margin: 0;
	}
	span {
		border-right: 1px solid #b7b7b7;
		padding-right: 4px;
		margin-right: 4px;
	}
}