@import "materialize/mixins";
@import "materialize/color";

@import "materialize/variables";
@import "materialize/typography";
@import "materialize/global";


body {
	width: 100%;
	margin: 0 auto;
	font: 'BYekan', Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
	// direction: rtl;
}

#contents {
	//
}

#preloader {

}

#opt {
	width: 100%;
	background: #f2f2f2;
	padding: 10px;
}

#devices label {
	padding: 5px; 
}

.no-display {
	display: none;
}