body {
	width: 100%;
	margin: 0 auto;
}

#contents {
	//
}

#preloader {

}

#opt {
	width: 100%;
	background: #f2f2f2;
	padding: 10px;
}

#devices label {
	padding: 5px; 
}

.no-display {
	display: none;
}