#newSide {
	a {
		text-decoration: none;
	}
	ul.uk-nav-sub > li {
		padding-left: 20px;
	}
}

#preloader {

}

#opt {
	width: 100%;
	background: #f2f2f2;
	padding: 10px;
	position: fixed;
	z-index: 1;
}

#devices label {
	padding: 5px; 
}
