<tr>
	<td><input class="uk-input" type="text" value="{{ text }}" placeholder="Type here..."/ data-input></td>
	<td><button class="uk-button uk-button-danger uk-button-small" type="button" data-delete>Delete</button></td>
</tr>