<div class="ctxmenu_wrap">
	<ul class="uk-list">
		<li><a href="#modal_traceroute" uk-toggle><span uk-icon="icon: bolt; ratio: 0.8;"></span> Traceroute</a></li>
		<li><a href="#modal_discovery" uk-toggle><span uk-icon="icon: server; ratio: 0.8;"></span> Discovery</a></li>
		<li><a class=""><span uk-icon="icon: cog; ratio: 0.8;"></span> Settings</a></li>
	</ul>
</div>