<div class="ctxmenu_wrap" style="left: 500px">
	<ul class="uk-list">
		<li><a class=""><span uk-icon="icon: push; ratio: 0.8;"></span> Highlight Source</a></li>
		<li><a class=""><span uk-icon="icon: pull; ratio: 0.8;"></span> Highlight Destination</a></li>
		<li><a class=""><span uk-icon="icon: close; ratio: 0.8;"></span> Clear All Highlights</a></li>
		<li><a class=""><span uk-icon="icon: info; ratio: 0.8;"></span> Info</a></li>
		<li><a class=""><span uk-icon="icon: calendar; ratio: 0.8;"></span> Properties</a></li>
	</ul>
</div>